header {
    background-color:white;
    height:70px;
    width:100%;
    border-bottom-style:solid;
    border-bottom-color:#CCCCCC;
    border-bottom-width:1px;
}
.logo {
    height: 100%;
    width: 142%;
    margin-left: 20px;
    background-repeat:no-repeat;
    background-image:url('../images/logo.png');
}